@model IEnumerable<AppWebb01.Models.mostrar_pacientes_Result>

@{
    ViewBag.Title = "Registro de pacientes";
}

@*<h2>@ViewBag.Title</h2>

    <p>

        <span style="float:right" class="glyphicon glyphicon-search">

            @using (Html.BeginForm("Index", "pacientes", FormMethod.Post))
            {
                <input id="search" name="search" type="text" value="" />
                <input type="submit" value="Buscar" />
            }



        </span>
    </p>*@
<style>
    .search{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }



    .btnsearch {
        height: 34px;
        position: relative !important;
        display: inline !important;
        padding: 6px 12px !important;
        float:right;
    }
</style>

<script src="@Url.Content("~/Scripts/jquery.highlight-3.js")" type="text/javascript"></script>

<h2>Buscar pacientes</h2>

<ul class="nav nav-pills nav-justified">
    <li class="nav-item" >
         <input type="text" id="txBusqueda" name="name" runat="server" value="" class="search" />
        <input type="button" id="btBuscar" onclick="javascript: buscarAjax();" name="name" value="Buscar"  class="search"/>
    </li>
    <li class="nav-item">

    </li>
    <li class="nav-item">
        @Html.ActionLink("Nuevo paciente", "Create", "pacientes", null, new { @class = "btn btn-primary btn-large btnsearch" })
    </li>
</ul>
        
  <h3></h3>
  
       
    

@if (Model != null)
{
    <table class="table" id="resultado">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.nombre)*@
                Nombres
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.apellidos)*@
                Apellidos
            </th>
           
            <th>
                @*@Html.DisplayNameFor(model => model.estado)*@
                Estado
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ciudad)*@
                Ciudad
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.fecha_nac)*@
                Fecha de nacimiento
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.telefono)*@
                Telefono
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.email)*@
                Correo electronico
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.edad)*@
                Edad
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.edad)*@
                Tratamientos
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.nombre)*@
                    @Ajax.ActionLink(item.nombre, "Details", new { id=item.paciente_id } ,new AjaxOptions() {
                        HttpMethod = "GET"
                    })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidos)
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_nac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edad)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numero_de_tratamientos)

                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.paciente_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.paciente_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.paciente_id }) |
                        @if (item.reservacion.Count > 0)
                        {
                            @Html.ActionLink("ver reservacion", "Mostrar_reserva", new { id = item.paciente_id })
                        }
                        else
                        {
                            @Html.ActionLink("Nueva reservacion", "CreateReserva", new { id = item.paciente_id })
                        }*@

                    <div class="dropdown">
                        <button style="background-color:transparent" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <div style="margin:5px" class="dropdown-item">
                                <span class="glyphicon glyphicon-pencil"></span>
                                @Html.ActionLink("Editar", "Edit", new { id = item.paciente_id }, new { style = "color:rgba(90, 90, 90, 1)" })
                            </div>
                            <div style="margin:5px" class="dropdown-item">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                @Html.ActionLink("Detalles", "Details", new { id = item.paciente_id }, new { style = "color:rgba(90, 90, 90, 1)" })
                            </div>
                            <div style="margin:5px" class="dropdown-item">
                                <span class="glyphicon glyphicon-remove"></span>
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.paciente_id }, new { style = "color:rgba(90, 90, 90, 1)" })
                            </div>

                            @if (item.reservas > 0)
                            {

                                <div style="margin:5px" class="dropdown-item">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    @Html.ActionLink("Ver reservacion", "Mostrar_reserva", new { id = item.paciente_id }, new { style = "color:rgba(90, 90, 90, 1)" })
                                </div>

                            }
                            else
                            {
                                <div style="margin:5px" class="dropdown-item">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    @Html.ActionLink("Nueva reservacion", "CreateReserva", new { id = item.paciente_id }, new { style = "color:rgba(90, 90, 90, 1)" })
                                </div>
                            }



                           
                           
                                <div style="margin:5px" class="dropdown-item">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    @Html.ActionLink("Nuevo tratamiento", "CreateTratamiento", new { id = item.paciente_id }, new { style = "color:rgba(90, 90, 90, 1)" })
                                </div>
                           
                        </div>

                    </div>
                </td>
            </tr>
        }

    </table>
}
else
{
    <div><h1>No se encontraron resultados</h1></div>
}


@*<input type="text" id="a"  name="name" value="" />*@

@*@Ajax.ActionLink(
    "busqueda",
    "Index",
    new {
        nombre ="__search__"
    } ,
    new AjaxOptions() {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId="resultado",
        HttpMethod = "POST",
    },
    new {
        @class="btn",
        id = "busca",
        onclick = "Agregar();"
    })*@

@*<script>
        function Agregar() {
            $('#busca').attr('href', function () {
                var url = $("#busca").attr("href");
                return this.href.replace('__search__', $('#a').val()); //#a es el id del input
            });
        };

        function TrimToSlash(value) {
            while (value.substr(value.length - 1) != ("/")) {
                value = value.substr(0, value.length - 1);
            }
            return "/";
        }
    </script>*@








<script>
        function buscarAjax() {
            $.ajax({
                url: '@Url.Action("Search","pacientes")',
                data: { text: $("#txBusqueda").val() },
                type: "POST",
                cache: false,
                success: function (retorno) {
                    $("#resultado").html(retorno);
                    //$('td').highlight($("#txBusqueda").val());
                    //$('h3').text('se han encontrado ' + $('.highlight').length + 'coincidencias');
                },
                error: function () {
                    alert("Se ah producido un error");
                }
            });
        }
</script>



@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}